

        <section class="search">
            <h1>Search</h1>

            <form class="search-form" action="/toys/search" method="POST">
                <input type="text" class="search-title" name="search" placeholder="Search Title...">
                <input type="text" class="search-charity" name="search" placeholder="Search Charity...">
                <button type="submit" class="btn-search">Search</button>
            </form>

            <!--If there are matches after search-->
            {{#if matches}}
            <div class="search-result">
                <div class="search-list">
                    
                    {{> matches}}
                

            </div>
              {{else}}
            <!--If there are no matches-->
            <div class="no-match">
                <p>No match was found!</p>
            </div>
            {{/if}}
        </section>

      